@include media($mobile) {
  #contact{
    #form_contact{
      @include span-columns(4);
      @include shift(0);

      p{
        padding-top: 0px;
        line-height: 12px;
        margin-bottom: em(12);
        &.medium{
          @include span-columns(4 of 4);
        }
      }
      .unhappy{
        margin-top: 4px;
        margin-bottom: 0 !important;
      }

      .unhappyMessage{
        position: relative;
        top: auto;
        color: #fff;
        background: $red;
        padding: 10px;
      }
    }
  }
}
