@media #{$small-only} {
  #contact{
    #form_contact{

      p{
        padding-top: 0px;
        line-height: 12px;
        margin-bottom: rem-calc(12);
        &.medium{
        }
      }
      .unhappy{
        margin-top: 4px;
        margin-bottom: 0 !important;
      }

      .unhappyMessage{
        position: relative;
        top: auto;
        color: #fff;
        background: $red;
        padding: 10px;
      }
    }
  }
}
