@include media($mobile) {
  #header-hero{
    background-size: inherit;
    background-position: 67% 0;
    #navigation{
      .logo{
        float: none;
        text-align: center;

        img{
          width: 150px;
        }
      }
    }
    .text-highlight{
      width: 100%;
      text-align: center;
      margin-top: 70px;
      h1{
        letter-spacing: -3px;
        margin-bottom: 25px;
      }
      h2{
        color: #fff;
        opacity: 0.65;
      }
    }
  }
}

@include media($mobile_small) {
  #header-hero{
    background-size: inherit;
    // background-position: -800px 0px;

    .text-highlight{
      margin-top: 70px;
      h1{
        font-size: em(35);
        letter-spacing: -3px;
        line-height: 35px;
      }

      h2{
        font-size: em(18);
      }
    }
  }
}
