@media #{$small-only} {
  #header-hero {
    background-size: inherit;
    background-position: 67% 0;
    #navigation {
      .logo{
        float: none;
        text-align: center;

        img {
          width: 150px;
        }
      }
    }
    .hero-text {
      .text-highlight {
        width: 100%;
        text-align: center;
        margin-top: 160px;
        h1 {
          font-size: rem-calc(35);
          line-height: rem-calc(35);
          letter-spacing: -3px;
          margin-bottom: 25px;
        }
        h2 {
          font-size: rem-calc(22);
          line-height: rem-calc(22);
          color: #fff;
          opacity: 0.65;
        }
      }
    }
  }
}

@media #{$medium-only} {
  #header-hero {
    background-size: inherit;
    background-position: 67% 0;
    #navigation {
      .logo{
        float: none;
        text-align: center;

        img {
          width: 150px;
        }
      }
    }
    .hero-text {
      .text-highlight {
        width: 100%;
        text-align: center;
        margin-top: 160px;
        h1 {
          font-size: rem-calc(42);
          line-height: rem-calc(42);
          letter-spacing: -3px;
          margin-bottom: 25px;
        }
        h2 {
          font-size: rem-calc(22);
          line-height: rem-calc(22);
          color: #fff;
          opacity: 0.65;
        }
      }
    }
  }
}
// @media #{$medium-only} {
//   #header-hero {
//     background-color: red;
//     background-size: inherit;
//
//     .hero-text {
//       .text-highlight {
//         h1 {
//           font-size: rem-calc(28);
//           line-height: rem-calc(28);
//           letter-spacing: -3px;
//           line-height: 35px;
//         }
//
//         h2 {
//           font-size: rem-calc(18);
//         }
//       }
//     }
//   }
// }
