@media #{$small-only} {
  #main-header {
    padding: $line 0;


    .logo {
      position: relative;
      z-index: 3;
    }

    [class*="navicon-"] {
      &[class*="input"]:checked {
        & ~ .menu {
          opacity: 1;

          &:before {
            height: 100%;
          }

          ul {
            @include transition (all 0.2s, 0.1s ease-in-out !important);
            opacity: 1;
            height: 100%;
          }
        }
      }
    }

    .menu {
      float: none;

      &:before {
        @include transition (all 0.2s ease-in-out !important);
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 0%;
        background-color: rgba($m-black, 0.98);
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
      }

      ul {
        @include transition (all 0.2s, 0.2s ease-in-out);
        @include clearfix;
        height: 0;
        opacity: 0;
        padding-top: $line;
        position: relative;
        z-index: 3;
        width: 100%;
        display: inline-block;
        li {
          display: inline-block;
          width: 100%;
          margin: 0;
          a {
            width: 100%;
            padding: ($line/5) 8px;

            &:hover {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  #header-hero {
    padding: ($line * 3) 0;
    background-position: 50% 50%;
    .text-hero {
      h1 {
        font-size: rem-calc(35);
        line-height: rem-calc(38);
      }

      .text-small {
        font-size: rem-calc(20);
        line-height: rem-calc(23);
        padding: ($line/2) 0;
        margin-top: ($line/2);
      }
    }
  }

  #header-hero-as {
    padding: ($line * 3) 0 0 0;
    .text-hero {
      margin-top: $line;
      h1 {
        font-size: rem-calc(35);
        line-height: rem-calc(38);
      }

      .text-small {
        font-size: rem-calc(20);
        line-height: rem-calc(23);
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media #{$medium-only} {
  #main-header {
    padding: $line 0;
    .logo {
      position: relative;
      z-index: 3;
    }

    [class*="navicon-"] {
      &[class*="input"]:checked {
        & ~ .menu {
          opacity: 1;

          &:before {
            height: 100%;
          }

          ul {
            @include transition (all 0.2s, 0.1s ease-in-out !important);
            opacity: 1;
            height: 100%;
          }
        }
      }
    }

    .menu {
      float: none;

      &:before {
        @include transition (all 0.2s ease-in-out !important);
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 0%;
        background-color: rgba($m-black, 0.95);
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
      }

      ul {
        @include transition (all 0.2s, 0.2s ease-in-out);
        @include clearfix;
        height: 0;
        opacity: 0;
        padding-top: $line;
        position: relative;
        z-index: 3;
        width: 100%;
        display: inline-block;
        li {
          display: inline-block;
          width: 100%;
          margin: 0;
          a {
            width: 100%;
            padding: ($line/5) 8px;

            &:hover {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  #header-hero {
    padding: ($line * 4) 0;
    background-position: 50% 50%;
    .text-hero {
      h1 {
        font-size: rem-calc(45);
        line-height: rem-calc(48);
      }

      .text-small {
        font-size: rem-calc(30);
        line-height: rem-calc(33);
        padding: ($line/3) 0;
        margin-top: ($line/3);
      }
    }
  }

  #header-hero-as {
    padding: ($line * 4) 0 0 0;
    .text-hero {
      h1 {
        font-size: rem-calc(38);
        line-height: rem-calc(42);
      }

      .text-small {
        font-size: rem-calc(30);
        line-height: rem-calc(33);
        padding: 0;
        margin: 0;
      }
    }
  }
}
