---
layout: default
title: Lorem ipsum dolor sit.
---

<section id="services" class="block">
  <div class="inner">
    <div class="text-highlight">
      <h1>O que fazemos</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
    </div>
    {% include services.html %}

  </div>
</section>

<section id="cloud">
  <div class="inner">
    <div class="text-highlight">
      <h2>Somos especialistas em cloud computing</h2>
      <h3>Mantenha o foco no core business!</h3>
      <img src="assets/images/logo-cloud.png" alt="We are specialists" />
    </div>
  </div>
</section>


<section id="our-way" class="block">
  <div class="inner">
    <div class="text-highlight">
      <h1>Como fazemos</h1>
      <h2>Nós usamos <a target="_blank" href="http://desenvolvimentoagil.com.br/xp/praticas/">XP</a>. Nosso negócio é entregar valor em iterações semanais.</h2>
    </div>

    {% include our-way.html %}
  </div>
</section>

<section id="we-love">
  <div class="inner">
    <div class="text-highlight">
      <h1>Amamos o que fazemos :)</h1>
    </div>
  </div>
</section>

<section id="about" class="block">
  <div class="inner">
    <div class="text-highlight">
      <h1>Quem somos</h1>
      <h2>Somos especialistas em desenvolvimento de software.</h2>
    </div>

    <div class="content">
      <p>Gostamos de criar produtos para web e para dispositivos móveis. Adotamos as melhores práticas do mercado no desenvolvimento de produtos.</p>
    </div>
  </div>
</section>

<section id="contact" class="block">
  <div class="inner">

    <div class="text-highlight">
      <h1>Tem algum projeto?</h1>
      <h2>Teremos o prazer em ouvir :)</h2>
    </div>

    {% include contact.html %}
  </div>
</section>
