#about{
  margin: 120px 0;
  text-align: center;
  .inner{
    width: 50%;
  }

  hgroup{
    margin-bottom: 30px;
    h2{
      color: #a2918f;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3{
      font-family: $georgia;
      font-style: italic;
      font-size: em(18);
      opacity: 0.68;
    }
  }
}
