#cases {
  background-color: $m-black;
  text-align: center;
  color: #fff;

  h1, h2, h3 {
    color: #fff;
  }

  .title-section {
    padding: ($line*2) 0;
    font-size: rem-calc(36);
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
  }
}
