#contact {
  @include box-sizing(border-box);
  padding: 80px 0;
  background-image: url('../images/background-contact.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  margin-bottom: 0;

  form {
    @extend .large-10;
    @extend .large-offset-1;
    @extend .columns;
    // @extend .row;

    .hide {
      display: none;
    }

    p{
      @extend .large-12;
      @extend .columns;

      position: relative;

      &.medium {
        @extend .large-4;
        @extend .columns;

        &.last {
          margin-right: 0;
        }
      }
    }

    textarea {
      min-height: 180px;
    }

    #{$all-text-inputs}, textarea {
      border: {
        left: none;
        top: none;
        right: none;
        bottom: 3px solid $main-color;
      };

      border-radius: 0;
      background-color: rgba(#fff, 0.35);

      @include placeholder {
        font-size: rem-calc(16);
        font-weight: 300;
      }

    }

    #{$all-text-inputs-focus}, textarea:focus { // Target the :focus pseudo-class
      box-shadow: inset 0 1px 3px rgba($main-color, 0.06),0 0 5px rgba($main-color, 0.7);
    }

    // Validation
    .unhappy{
      border: {
        left: 1px solid $red !important;
        right: 1px solid $red !important;
        top: 1px solid $red !important;
        bottom: 3px solid $red !important;
      };
      margin-top: 2px;

      @include placeholder {
        color: $red
      }
    }

    .unhappyMessage{
      position: absolute;
      display: block;
      top: 0;
      font-size: rem-calc(12);
      color: $red
    }
  }
}
