footer {
  background-color: $m-black;
  padding: $line 0;

  .by {
    float: right;
    @media #{$small-only} {
      width: 100%;
      text-align: center;

      .logo {
        float: none;
        display: inline-block;
      }
    }
    @media #{$medium-only} {
      width: 100%;
      text-align: center;

      .logo {
        float: none;
        display: inline-block;
      }
    }
  }
  .copy {
    float: left;
    color: #fff;

    @media #{$small-only} {
      width: 100%;
      text-align: center;
    }
    @media #{$medium-only} {
      width: 100%;
      text-align: center;
    }

    & > * {
      display: block;
      margin-right: ($line*3);
      color: #fff;
      font-weight: 400;
    }

    .social-design, p {
      margin: 0;
    }

    p {
      line-height: rem-calc(12);
      font-size: rem-calc(12);
    }
    .social-design {
      margin-top: 15px;
    }
  }
}
