#header-hero{
  @include box-sizing(border-box);
  @include background(radial-gradient(circle at 44% 37%, rgba(#000, 0), rgba(#000, 0.6)), url('../images/background-header.jpg'));
  height: 450px;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $main-color;
  background-size: cover;
  position: relative;

  #navigation{
    position: absolute;
    top: 45px;
    width: 100%;

    .logo{
      display: block;
      float: left;
      img{
        width: 140px;
      }
    }

    ul{
      float: right;
      li{
        display: inline-block;
        margin-right: 15px;

        a{
          @include box-sizing(border-box);
          @include transition (background 0.2s ease-in-out);
          font-family: $font-main;
          text-transform: uppercase;
          color: #fff;
          padding: 4px 8px;
          border: none;

          &:hover{
            padding: {
              left: 6px;
              right: 6px;
            };
            background-color: rgba(#fff, 0.1);
            border: 2px solid #fff;
          }
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  .text-highlight{
    float: left;
    width: 60%;
    margin-top: 60px;

    h1{
      color: #fff;
      font-size: em(48);
      line-height: 50px;
      margin-bottom: 25px;
    }

    h2{
      color: darken($secondary-color, 5%);
      font-size: em(24);
      opacity: 0.85;
    }
  }
}
