#header{
  height: 450px;
  margin-bottom: 50px;
  background-image: url("../images/background-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  hgroup{
    text-align: center;
    margin-top: 120px;
    h2, h3{
      font-family: $font-main;
      letter-spacing: -3px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      line-height: 45px;
    }

    h2{
      font-size: em(60);
    }

    h3{
      font-size: em(35);
    }
  }

  nav{
    padding: 15px 0;
    margin-top: 40px;
  }
}
