ul.social-icons{
  display: block;
  overflow: auto;
  width:100%;
  li{
    display: inline-block;
    a{
      color: #fff;
      font-size: 24px;
      height:48px;
      line-height: 48px;
      opacity: 0.7;
      text-align: center;
      width:48px;
      &:hover { opacity: 1; }
    }
  }
}

.icon-facebook { @include font-icon('facebook') }
.icon-github { @include font-icon('github') }
.icon-skype { @include font-icon('skype') }
.icon-twitter { @include font-icon('twitter') }
