<article id="about" class="section-content">
  <div class="row">
    <h1 class="title-section">Quem somos nós?
      <span>
        <strong>Especialistas</strong>,<strong> apaixonados</strong> e
         formamos uma<strong> poderosa equipe</strong>
      </span>
    </h1>
    <div class="content">
      <p>
        Somos uma pequena equipe altamente qualificada de desenvolvedores e
        designers experientes em desenvolvimento web e mobile.
        Nós entregamos software de alta qualidade, tanto em design quanto em funcionalidade.
      </p>
    </div>
  </div>
  <!-- <div class="featured-testimony">
    <div class="row">
      <p>
        "Poderia ser algo nosso..."
      </p>
      <span class="author">Bruno e Francisco - Mibuz</span>
    </div>
  </div> -->
</article>
