<section id="delivery" class="section-content">
  <header>
    <div class="row">
      <h1 class="title-section">Entregas pequenas diminuem os riscos para o seu negócio.<span>Nós usamos<strong> xp.</strong> Nosso negócio é entregar valor em iterações semanais.</span></h1>
    </div>
  </header>
  <div class="row">
    <div class="boxs">
      <div class="box">
        <img src="{{site.assets_img}}/planning.svg" alt=""/>
        <h2>Planejamento</h2>
        <p>
          Começamos a semana com uma reunião para discutir e priorizar os próximos passos.
        </p>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/dev_2.svg" alt=""/>
        <h2>Desenvolvimento</h2>
        <p>De<strong> terça</strong> a<strong> quinta-feira</strong> nós focamos no desenvolvimento.</p>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/delivery.svg" alt=""/>
        <h2>Entrega</h2>
        <p>No final do último dia de cada iteração, entregamos o resultado do trabalho para validação</p>
      </div>
    </div>
  </div>
</section>
