<footer id="footer">
  <div class="inner">
    <div class="vcard">
      <div class="boxes">

        <div class="box">
          <p>© 2014 Mibuz</p>
          <p>contato@mibuz.com.br</p>
          <p>(63) 3412 4072</p>

          <ul class="social-icons">
            <li><a class="icon-github" target="blank" href="http://github.com/mibuz"></a></li>
            <li><a class="icon-skype" href="skype:franciscomxs"></a></li>
            <li><a class="icon-twitter" target="blank" href="https://twitter.com/mibuz_team"></a></li>
            <li><a class="icon-facebook" target="blank" href="http://facebook.com/mibuz"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
