<header id="header-hero" data-parallax-speed="2">
  <nav id="navigation" class="">
    <div class="inner">
      <a href="/" class="logo">
        <img src="/assets/images/logo.png" alt="">
      </a>
      <!--ul>
        <li><a href="#services">O que fazemos</a></li>
        <li><a href="#our-way">Como fazemos</a></li>
        <li><a href="#about-us">Quem somos</a></li>
      </ul-->
    </div>
  </nav>
  <div class="hero-text">
    <div class="inner">
      <div class="text-highlight">
        <h1>Nós criamos produtos <strong>inovadores</strong></h1>
        <h2>Usamos as tecnologias mais modernas e as melhores práticas do mercado</h2>
      </div>
    </div>
  </div>
</header>
