<header id="header-hero">
  <nav id="navigation" class="">
    <div class="inner">
      <a href="/" class="logo">
        <img src="assets/images/logo.png" alt="">
      </a>
      <!--ul>
        <li><a href="/">Link 1</a></li>
        <li><a href="/">Link 2</a></li>
        <li><a href="/">Link 3</a></li>
      </ul-->
    </div>
  </nav>
  <div class="inner">
    <div class="text-highlight">
      <h1>Lorem ipsum dolor sit adipisicing elit.</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
    </div>
  </div>
</header>
