<section id="our-way" class="block">
  <div class="inner">

    <div class="text-highlight">
      <h1>Como fazemos</h1>
      <h2>Nós usamos <a target="_blank" href="http://desenvolvimentoagil.com.br/xp/praticas/">XP</a>. Nosso negócio é entregar valor em iterações semanais.</h2>
    </div>

    <div class="boxes">

      <div class="box">
        <img src="assets/images/way_planning.png" alt="" />
        <h2>Planejamento</h2>
        <p>Começamos a semana com uma reunião para discutir e priorizar os próximos passos.</p>
      </div>

      <div class="box">
        <img src="assets/images/way_develop.png" alt="" />
        <h2>Desenvolvimento</h2>
        <p>De <strong>terça</strong> a <strong>quinta-feira</strong> nós focamos no desenvolvimento.</p>
      </div>

      <div class="box">
        <img src="assets/images/way_delivery.png" alt="" />
        <h2>Entrega</h2>
        <p>No final do último dia de cada iteração, entregamos o resultado do trabalho para validação.</p>
      </div>

    </div>

  </div>

</section>
