<section id="services" class="block">
  <div class="inner">
    <div class="text-highlight">
      <h1>O que fazemos</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
    </div>

    <div class="boxes">
      <div class="box">
        <h2>Desenvolvimento</h2>
        <p>Nós desenvolvemos aplicativos para internet e para dispositivos móveis com as tecnologias mais modernas do mercado.</p>
      </div>
      <div class="box">
        <h2>Outsourcing</h2>
        <p>Mantenha o foco no seu core business e deixe a criação com a gente.</p>
      </div>
      <div class="box">
        <h2>Consultoria em Cloud Computing</h2>
        <p>Quer trazer seu aplicativo para nuvem? Consulte com nossos especialistas.</p>
      </div>
    </div>
  </div>
</section>
