<div class="group-box">
  <div class="box">
    <h2>1 Lorem ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, beatae, cupiditate, modi quisquam tempore minus quod quaerat soluta deserunt earum temporibus ut nostrum rem aspernatur consequuntur ipsa hic a dignissimos!</p>
  </div>
  <div class="box">
    <h2>2 Lorem ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, beatae, cupiditate, modi quisquam tempore minus quod quaerat soluta deserunt earum temporibus ut nostrum rem aspernatur consequuntur ipsa hic a dignissimos!</p>
  </div>
  <div class="box">
    <h2>3 Lorem ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, beatae, cupiditate, modi quisquam tempore minus quod quaerat soluta deserunt earum temporibus ut nostrum rem aspernatur consequuntur ipsa hic a dignissimos!</p>
  </div>
</div>
