<article class="section-content">
  <div class="row">
    <h1 class="title-section">Ajudamos a criar<strong> novos produtos</strong><span><strong> Web</strong> e<strong> Mobile</strong></span></h1>
    <div class="boxs">
      <div class="box">
        <img src="{{site.assets_img}}/dev_1.svg" alt="">
        <h2>Desenvolvimento</h2>
        <p>
          Desenvolvimento é o que gostamos de fazer. Colocamos enfasê na
          experiência humana em todas os tamanhos de telas, mobile ou desktop.
        </p><a href="#">Interessado neste serviço?</a>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/partnership.svg" alt="">
        <h2>Outsourcing</h2>
        <p>Mantenha o foco no seu core business e deixe o resto com a gente.</p><a href="#">Interessado neste serviço?</a>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/cloud.svg" alt="">
        <h2>Consultoria em cloud computing</h2>
        <p>Quer trazer seu aplicativo para nuvem? Consulte com nossos especialistas.</p><a href="#">Interessado neste serviço?</a>
      </div>
    </div>
  </div>
</article>
