<article id="service" class="section-content">
  <div class="row">
    <h1 class="title-section">
      Ajudamos a criar<strong> novos produtos</strong>
      <span>Usamos as <abbr title="Ruby on rails, Rubymotion, Phonegap, SASS, CoffScript">tecnologias mais modernas</abbr> e as melhores <abbr title="Versionamento, cloud (do jeito certo), teste automatizado">práticas do mercado</abbr></span>
    </h1>
    <div class="boxs">
      <div class="box">
        <img src="{{site.assets_img}}/dev_1.svg" alt="">
        <h2>Desenvolvimento</h2>
        <p>
          Desenvolvimento é o que gostamos de fazer.
          Além do serviço de desenvolvimento, auxiliamos o cliente no processo
          de concepção do produto com ênfase na experiência humana.
        </p>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/partnership.svg" alt="">
        <h2>Outsourcing</h2>
        <p>
          Mantenha o foco no seu core business e deixe o resto com a gente.
          Desde o início você tem acesso ao código fonte e pode acompanhar todo
          o processo de desenvolvimento.
        </p>
      </div>
      <div class="box">
        <img src="{{site.assets_img}}/cloud.svg" alt="">
        <h2>Consultoria em cloud computing</h2>
        <p>
          A gente te ajuda a trazer seu aplicativo para a nuvem. Consulte nossos especialistas.
        </p>

      </div>
    </div>
    <a href="#contact" class="btn-more scroll-to">Interessado em algum desses serviços? <br>Fale conosco!</a>
  </div>
</article>
