// Colors
$main-color: #e9774d;
$secondary-color: #3d3737;
$red: #ec4242;

// Fonts
$font-main: 'Montserrat', sans-serif;
$headings: "h1,h2,h3,h4,h5,h6";

$icons: (
  'github' '\e800',
  'facebook' '\e802',
  'skype' '\e803',
  'twitter' '\e801'
);
