// Colors
$main-color: #e9774d;
$secon-color: #3d3737;

// Fonts
$font-main: 'Montserrat', sans-serif;
$headings: "h1,h2,h3,h4,h5,h6";

// Grid
$mobile: new-breakpoint(max-width em(959) 4);
$mobile_small: new-breakpoint(max-width em(600) 4);
