@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.inner{
  @include outer-container();
}

#{$headings}{
  font-family: $font-main;
  font-weight: 700;
}

.text-highlight{
  #{$headings}{
    text-transform: uppercase;
  }
}
