.call-to-action, input[type="submit"]{
  @extend %basic-button;
  background: $main-color;
  color: #fff;
  font-size: em(22);
  margin: 20px auto 0 auto;
  min-width: 200px;
  padding: 1em;
  font-weight: 300;

  &:active, &:focus{
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    
  }

  &:hover{
    color: #fff;
    background: darken($main-color,8%) !important;
    box-shadow: none !important;
  }
}

.call-to-action{
  font-size: 0.9em;
  span{
    display: block;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: .05em;
  }
}
