%basic-button{
  @include clearfix;
  padding: 10px 18px;
  margin: 0;
  border: none;
  text-align: center !important;
  display: inline-block;
  text-shadow: none;
  box-shadow: none;
  border-radius: 2px;

  &:active, &:focus{
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  &:hover{
    color: #fff;
    background: darken($main-color,8%) !important;
    box-shadow: none !important;
  }
}
